@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.about-section {
  font-family: 'Source Code Pro', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
}
